*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/698/123/805/puzzle-bbc-sherlock-sherlocked-wallpaper-preview.jpg');
    font-family: 'Roboto', sans-serif;
    background-position: center;
    /* background-color: #67c9e7; */
}

.input-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#password{
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
} 

.input-password img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
