*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #67c9e7;
}

.input-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#input-text{
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}